/*css reset*/
*{
	padding: 0;
	margin:	0;
	box-sizing: border-box;
	/*font-family: 'Open Sans', Spartan;*/
	/*font-family: 'Spartan', Open Sans;*/
}
html{
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Spartan', san-serif;
}

p,
label,
strong,
em,
small{
	font-family: 'Open Sans', san-serif;
}

.btn{
	border-radius: 0px;
}
#navbar-section .navbar{
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
	color: #f5f5f7;
}

#up-arrow{
	background-color: #f5f5f7;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	bottom: 30px;
	right: 30px;
	position: fixed;
	z-index: 5;
}
#up-arrow:hover{
	background-color: #1565c0;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
#img-logo{
	width: 25px;
	height: 25px;
	border-radius: 100%;
}
.extra{	
	padding: 50px;
}


/*=========================================START GALLERY PAGE==========================*/

#container-header-gallery,
#container-header-food{
	background-color: #263238;
	padding-top: 100px;
	padding-bottom: 50px;
	color: #f5f5f7;
}
/*#container-header-food{
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #263238;
	color: #f5f5f7;
}*/

#container-fluid-spots{
	background-color: #263238;
	padding-bottom: 15px;
	width: 100%;
	display: grid;
	grid-auto-flow: dense;
	grid-template:"1fr 1fr 1fr 1fr 1fr" 33.33vh
				  "1fr 1fr 1fr 1fr 1fr" 33.33vh
				  "1fr 1fr 1fr 1fr 1fr" 33.33vh
				  "1fr 1fr 1fr 1fr 1fr" 33.33vh
				  "1fr 1fr 1fr 1fr 1fr" 33.33vh;
	grid-gap: 5px;

}

.box{
	position: relative;	
}
.box.b,
.box.f,
.box.h,
.box.j,
.box.o,
.box.p{
	grid-column: span 2;
}

.box.a,
.box.i,
.box.k{
	grid-row: span 2;
}

.box img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#container-fluid-food{
	background-color: #263238;
	padding-bottom: 15px;
	width: 100%;
	display: grid;
	grid-auto-flow: dense;
	grid-template:"1fr 1fr 1fr 1fr 1fr" 33.33vh
				  "1fr 1fr 1fr 1fr 1fr" 33.33vh
				  "1fr 1fr 1fr 1fr 1fr" 33.33vh
				  "1fr 1fr 1fr 1fr 1fr" 33.33vh;
	grid-gap: 5px;

}

.box.bb,
.box.ff,
.box.gg,
.box.p{
	grid-column: span 2;
}

.box.aa,
/*.box.dd,*/
.box.ff,
.box.gg,
.box.jj{
	grid-row: span 2;
}

/*=========================================END GALLERY PAGE==========================*/




/*=========================================START FOOTER SECTION==========================*/
#footer-container{
	height: 100%;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
	color: #f5f5f7;
	font-size: 12px;
}
#linkedin{
	color: #f5f5f7;
}

.row-footer{
	padding-top: 25px;
}
.row-disclaimer{
	padding-left: 75px;
}
#row-dis-cont{
	background-color: #263238;
}
#copyright{
	padding-top: 20px;
	text-align: center;
}
/*=========================================END FOOTER SECTION==========================*/



/*=========================================START HOME AND ABOUT PAGE==========================*/
.kuyamis-logo{
	color: #f5f5f7;
}
#home-container{
	height: 100%;
	/*padding-top: 50px;*/
	background-color: #263238;
	background: 
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
		url("../images/new/occidental3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*#row-home-qoute{
	padding-left: 350px;
	padding-right: 350px;
	padding-bottom: 50px;
}*/

#row-btn-home{
	padding-bottom: 150px;
	padding-top: 100px;
	text-align: center;
}
#btn-about,
#btn-places,
#btn-delicacies{
	width: 150px;
	color: #f5f5f7;
	border-color: #f5f5f7;
}
#btn-about:hover{
	color: #0e0e0e;
	font-weight: bolder;
	background-color: #f5f5f7;
}
#btn-places:hover{
	color: #0e0e0e;
	font-weight: bolder;
	background-color: #f5f5f7;
}
#btn-delicacies:hover{
	color: #0e0e0e;
	font-weight: bolder;
	background-color: #f5f5f7;
}
#col-home-header{
	padding-top: 50px;
	padding-left: 20px;
	/*padding-bottom: 100px;*/
}
#quote{
	text-align: center;
	color: #f5f5f7;
	padding-left: 350px;
	padding-right: 350px;
	padding-bottom: 50px;
}

#col-btn-gallery{
	text-align: center;
}

#occidental-header{
	color: #f5f5f7;
	text-align: center;
	padding-top: 100px;
	font-size: 100px;
	font-weight: bolder;
}
/*end home-container*/


/*start about-container*/
#about-container{
	height: 100vh;
	padding: 50px;
	background-color: #e0e0e0;
	background-image: 
		/*linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.1)),*/
		url("../images/about.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#btn-history{
	width: 150px;
	color: #0e0e0e;
	border-color: #0e0e0e;
}
#btn-history:hover{
	color: #f5f5f7;
	font-weight: bolder;
	background-color: #0e0e0e;
}
#col-about{
	padding-top: 50px;
	padding-bottom: 50px;
}
#col-pag1,
#col-pag2{
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	text-shadow: 2px white;
}
#row-btn-about{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.btn-places{
	width: 150px;
	border-color: #0e0e0e;
}
/*=========================================END HOME AND ABOUT PAGE==========================*/

/*=========================================START OCCIDENTAL PAGE==========================*/
#container-places{
	background-color: #263238;
	background-image: 
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.1)),
		url("../images/new/occidental1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 50px;
	color: #f5f5f7;
}

.row-occidental{
	padding-top: 50px;
}
.row-places{
	color: #0e0e0e;
	margin-bottom: 50px;
	border-right: 15px solid linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.header-number{
	padding-top: 45px;
	/*font-weight: bold;*/
	font-size: 20px;
	color: #f5f5f7;
}


.col-place{
	color: #f5f5f7;
	padding: 40px;
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}
.col-number{
	background-color: #0e0e0e;
	border-bottom-left-radius: -50%;
}

.btn-town{
	float: right;
	border-color: #f5f5f7;
	color: #f5f5f7;
}
.btn-town:hover{
	background-color: #1565c0;
	color: #f5f5f7;
}
.munci-header{
	background-color: #0e0e0e;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	width: 325px;
}
/*=========================================END OCCIDENTAL PAGE==========================*/


/*PHOTO HOVER*/
.fling-kb {
	position: relative;
	overflow:hidden;
}
.fling-kb img {
	width: 100%;
	margin-left: 0px;
	position: relative;
	transition-property: all;
	transition-duration: 0.8s; 
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}
.fling-kb:hover img {
	transform: scale(1.2) rotate(2deg);
}

/*mobile*/
@media only screen and (max-width: 400px){

	#navbar-section .navbar{
		background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
	}

	/*start index.html/landing page*/
	#kuyamis{
		font-size: 50px;
		font-weight: bold;
	}
	#btn-enter{
		width: 150px;
		height: 50px;
	}

	/*start index.html/landing page*/

	/*start about.html*/
	#row-home-qoute{
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 25px;
	}

	#btn-about,
	#btn-places,
	#btn-delicacies{
		margin-bottom: 5px;
	}
	
	#quote{
		font-size: 16px;
	}

	#occidental-header{
		font-size: 30px;
	}
	/*end home-container*/

	/*start footer-container*/
	.row-disclaimer{
		padding-left: 0px;
	}
	#address,
	#linked{
		padding-bottom: 20px;
	}
	/*start footer-container*/


	/*start gallery.html*/
	#container-fluid-spots{
		grid-template:"1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh;
	}
	#container-fluid-food{
		grid-template:"1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh
					  "1fr" 100vh;
	}
	.box.b,
	.box.bb,
	.box.f,
	.box.ff,
	.box.gg,
	.box.h,
	.box.j,
	.box.o,
	.box.p,
	.box.pp{
		grid-column: span 1;
	}

	.box.a,
	.box.aa,
	.box.ff,
	.box.gg,
	.box.i,
	.box.jj,
	.box.k{
		grid-row: span 1;
	}
	/*end gallery.html*/



	/*start overlay-modal*/
	.text {
		font-size: 12px;
	}
	/*end overlay-modal*/


	.munci-header{
		font-size: 25px;
		width: 290px;
	}
	.col-number{
	text-align: left;
	}

	.modal-pic{
		width: 200px;
		height: 200px;
		float: none;
		border-radius: 0%;
		shape-outside: none;
		margin: 30px 30px 30px 3px;
	}

	.pic2{
		width: 200px;
		height: 200px;
		float: none;
		border-radius: 0%;
		shape-outside: none;
		margin: 30px 30px 30px 3px;
	}
	/*end occidental.html*/

}



/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){

	#navbar-section .navbar{
		background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1));
	}
	
	/*start about.html*/
	#row-home-qoute{
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;
	}

	#row-btn-home{
		padding-bottom: 150px;
		padding-top: 100px;
		text-align: center;
	}
	#btn-about,
	#btn-places,
	#btn-delicacies{
		width: 150px;
		color: #f5f5f7;
		border-color: #f5f5f7;
		margin-bottom: 5px;
	}
	#btn-about:hover{
		color: #0e0e0e;
		font-weight: bolder;
		background-color: #f5f5f7;
	}
	#btn-places:hover{
		color: #0e0e0e;
		font-weight: bolder;
		background-color: #f5f5f7;
	}
	#btn-delicacies:hover{
		color: #0e0e0e;
		font-weight: bolder;
		background-color: #f5f5f7;
	}
	#col-home-header{
		padding-top: 50px;
		padding-left: 20px;
		padding-bottom: 100px;
	}
	#quote{
		text-align: center;
		color: #f5f5f7;
	}

	#col-btn-gallery{
		text-align: center;
	}

	#occidental-header{
		color: #f5f5f7;
	}
	/*end home-container*/

	/*start footer-container*/
	.row-disclaimer{
		padding-left: 0px;
	}
	#address,
	#linked{
		padding-bottom: 25px;
	}
	/*end footer-container*/


	#container-fluid-spots{
		grid-template:"1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px;
	}
	#container-fluid-food{
		grid-template:"1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px
					  "1fr 1fr 1fr" 250px;
	}
	.box.o,
	.box.p{
		grid-column: span 1;
	}
	.box.ff,
	.box.gg{
		grid-row: span 1;
	}
	.box.m{
		grid-row: span 2;
	}

	/*end gallery.html*/



	.col-number{
		text-align: left;
	}
	.modal-pic{
		width: 200px;
		height: 200px;
	}

	.pic2{
		width: 150px;
		height: 150px;
	}


	/*end occidental.html*/
}














