/*This file is only for modals in pages of the website*/

/*====================OCCIDENTAL PAGE====================*/
.modal-occidental{
	max-width: 75%;
}
.modal-occidental .modal-body{
	background-color: #263238;
	background: 
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)),
		url("../images/occidental1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f5f5f7;
}

.modal-header{
	background-color: #263238;
	color: #f5f5f7;
	font-weight: bolder;
}
.row-modal{
	padding: 25px
}
.p-places{
	padding-top: 25px;
	padding-bottom: 25px;
}
#p-modal-jimenez,
#p-modal-chiongbian{
	padding-top: 100px;
}

.modal-occidental .modal-body ul{
	padding-left: 25px;
}
.modal-occidental .modal-body ul li{
	padding-left: 10px;
}

.modal-pic{
	width: 350px;
	height: 350px;
	float: left;
	border-radius: 100%;
	shape-outside: circle();
	margin: 0px 60px 60px 0;
}

.modal-pic2{
	width: 200px;
	height: 200px;
	float: right;
	border-radius: 100%;
	shape-outside: circle();
	margin: 60px 0px 60px 60px;
}
.close{
	font-size: 25px;
	color: #f5f5f7;
}
.close:hover{
	background-color: #0e0e0e;
	color: #f5f5f7;
}


/*====================GALLERY PAGE=======================*/
.modal-gallery{
	max-width: 75%;
}
/*#dialog-uriver{
	max-width: 50%;
}*/

.overlay-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.modal-content:hover .overlay-container {
  height: 25%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*====================ABOUT PAGE=========================*/
.modal-history-dialog{
	max-width: 75%;
}
.col-history{
	padding-right: 50px;
	padding-left: 50px;
}

#modal-close{
	font-size: 25px;
	color: #f5f5f7;
}

#modal-close:hover{
	background-color: #0e0e0e;
}

#title-history{
	font-weight: bolder;
}
#modal-header{
	background-color: #263238;
	color: #f5f5f7;
}
#body-history{
	color: #f5f5f7;
	background-color: #263238;
	background: 
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.9)),
		url("../images/kuyamis.jpg"),
		url("../images/mis.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: multiply;
}
.p-history{
	padding-top: 25px;
	padding-bottom: 25px;
}





/*====================MEDIA FOR MOBILE=======================*/
@media only screen and (max-width: 400px){

	/*overlay*/
	.text {
		font-size: 12px;
	}

	/*occidental*/
	.modal-occidental{
		max-width: 100%;
	}
	.modal-occidental .modal-body{
		background-color: #263238;
		background: 
			linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)),
			url("../images/occidental1.jpg");
		background-position: left;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		color: #f5f5f7;
	}
	.row-modal{
		padding-top: 0px;
		padding-bottom: 25px;
	}

	.modal-pic{
		width: 100%;
		height: 200px;
		float: none;
		border-radius: 0%;
		shape-outside: none;
		margin: 30px 30px 30px 3px;
	}

	.modal-pic2{
		width: 100%;
		height: 200px;
		float: none;
		border-radius: 0%;
		shape-outside: none;
		margin: 30px 30px 30px 3px;
	}
	#p-modal-jimenez,
	#p-modal-chiongbian{
		padding-top: 0px;
	}

	/*gallery*/
	.modal-gallery{
		max-width: 100%;
		/*max-height: 500vh;*/
		margin-top: 100px;
	}
	/*#dialog-uriver{
		max-width: 100%;
		margin-top: 50px; 
	}*/

	/*about*/
	.modal-history-dialog{
		max-width: 100%;
	}
	.col-history{
		padding-right: 25px;
		padding-left: 25px;
	}
	#body-history{
		background: 
			linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.9)),
			url("../images/kuyamis.jpg"),
			url("../images/mis2.png");
		background-position: right;
	}

	

}

/*====================MEDIA FOR TABLET=======================*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	/*gallery*/
	.modal-gallery{
		max-width: 100%;
		margin-top: 75px;
	}
	.text {
		font-size: 15px;
	}


	/*about*/
	.modal-history-dialog{
		max-width: 100%;
	}
	.col-history{
		padding-right: 25px;
		padding-left: 25px;
	}
	#body-history{
		background: 
			linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.9)),
			url("../images/kuyamis.jpg"),
			url("../images/mis3.png");
		background-position: right;
	}
	.p-history{
		padding-right: 50px;
		padding-left: 50px;
	}

	/*occidental*/
	.modal-occidental{
		max-width: 100%;
	}
	.modal-occidental .modal-body{
		background-color: #263238;
		background: 
			linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)),
			url("../images/occidental1.jpg");
		background-position: left;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		color: #f5f5f7;
	}
	
	#p-modal-aloran,
	#p-modal-concepcion{
		padding-top: 110px;
	} 

	#p-modal-jimenez,
	#p-modal-chiongbian{
		padding-top: 0px;
	}


}