/*css reset*/
*{
	padding: 0;
	margin:	0;
	box-sizing: border-box;
	font-family: 'Spartan';

}
html{
	scroll-behavior: smooth;
}

.btn{
	border-radius: 0px;
}
.navbar{
	background-color: #0e0e0e;
}
#img-logo{
	font-size: 25px;
	font-weight: bolder;
	background: -webkit-linear-gradient(#ff5252, #69f0ae, #448aff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#kuyamis-footer{
	font-weight: bolder;
	background: -webkit-linear-gradient(#ff5252, #69f0ae, #448aff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*INDEX --------------------------------------------------------------------------*/
#home-container{
	height: 100vh;
	padding-top: 50px;
	background-color: #263238;
	background: 
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
		url("../images/occidental3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f5f5f7;
}
#col-home-header{
	position: relative;
}
#kuyamis-logo{
	position: absolute;
	top: 23.5%;
	left: 11.7%;
	font-size: 50px;
	font-weight: bolder;
	background: -webkit-linear-gradient(#ff5252, #69f0ae, #448aff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#occidental-header{
	text-align: center;
	font-size: 100px;
	font-weight: bolder;
	padding-top: 100px;
}

#quote{
	text-align: center;
	padding-left: 125px;
	padding-right: 125px;
}

#row-btn-home{
	text-align: center;
	padding-top: 125px;
}
#row-btn-home .btn{
	color: #f5f5f7;
	border: 1px solid #f5f5f7;
	width: 150px;
	height: 50px;
	padding-top: 15px;
}

#row-btn-home .btn:hover{
	color: #0e0e0e;
	background-color: #f5f5f7;
}


#about-container{
	height: 100vh;
	padding: 150px 50px 50px 50px;
	background-color: #263238;
	background: 
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.1)),
		url("../images/kuyamis.jpg"),
		url("../images/mis.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: multiply;
	color: #f5f5f7;
}
#col-pag1{
	padding-bottom: 25px;
}
#row-btn-about{
	padding-top: 25px;
}

.btn-history{
	color: #f5f5f7;
	border: 1px solid #f5f5f7;
	width: 150px;
	height: 50px;
	padding-top: 15px;
}
.btn-history:hover{
	color: #0e0e0e;
	background-color: #f5f5f7;
}

/*FOOTER --------------------------------------------------------------------------*/
#footer-container{
	padding: 50px 50px 25px 50px;
	background-color: #0e0e0e;
	color: #f5f5f7;
	font-size: 12px;
}
#contact{
	padding-left: 100px;
	padding-right: 50px;
}
#copyright{
	text-align: center;
	padding-top: 25px;
}

/*OCCIDENTAL --------------------------------------------------------------------------*/
#places-container{
	height: 100%;
	width: 100%;
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #263238;
	background: 
		linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
		url("../images/occidental1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #f5f5f7;
}
#places-container ul{
	list-style: none;
	padding: 0 100px 0 100px;
}
#places-container ul li{
	padding: 25px;
	box-shadow: 0px 15px 50px rgba(0,0,0,0.5);
	margin-bottom: 10px;
}
.city-row{
	padding-bottom: 50px;
}

#places-container ul li p{
	padding-bottom: 25px;
}
#places-container ul li .btn{
	color: #f5f5f7;
	border: 1px solid #f5f5f7;
	width: 150px;
	float: right;
}

#places-container ul li .btn:hover{
	color: #0e0e0e;
	background-color: #f5f5f7;
}

/*GALLERY --------------------------------------------------------------------------*/
#gallery-container{
	height: 100%;
	padding: 75px 100px 100px 100px;
	background-color: #263238;
	display: grid;
	grid-template-columns: repeat(5, 1fr); 
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}
.box{
	height: 250px;
}
.box a img{
	height: 100%;
	width: 100%;
}


/*TOURIST --------------------------------------------------------------------------*/
#tourist-container{
	height: 100%;
	background-color: #263238;
	padding: 100px 50px 100px 50px;
}
.tourist-row{
	position: relative;
	padding: 0 100px 0 100px;
	margin-bottom: 50px;
}

.col-image{
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
	padding: 0;
}
.col-image img{
	height: inherit;
	width: inherit;
}
.caption-left{
	color: #f5f5f7;
	position: absolute;
	top: 5%;
	width: 600px;
	padding: 25px;
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
}
.caption-right{
	color: #f5f5f7;
	position: absolute;
	top: 5%;
	right: 8%;
	width: 600px;
	padding: 25px;
	box-shadow: 0px 0px 25px rgba(0,0,0,1);
}
.caption-right h4{
	float: right;
	padding-bottom: 25px;
}
.caption-right p{
	float: right;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
}
.caption-left p{
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
}
.caption-left h4{
	padding-bottom: 25px;
}



/*mobile ================================================================================================================*/
@media only screen and (max-width: 400px){
	/*INDEX --------------------------------------------------------------------------*/
	#kuyamis-logo{
		position: absolute;
		top: 15%;
		left: 21.6%;
		font-size: 25px;
	}
	#home-container{
		background-position: left;
	}
	#occidental-header{
		font-size: 50px;
		padding-top: 50px;
	}

	#quote{
		text-align: center;
		padding-top: 25px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 14px;
	}
	#row-btn-home{
		padding-top: 75px;
	}

	#row-btn-home .btn{
		margin-bottom: 6px;
	}


	#about-container{
		height: 100%;
		padding-top: 50px;
		padding-right: 25px;
		padding-left: 25px;
		padding-bottom: 50px;
		background: 
			linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.1)),
			url("../images/kuyamis.jpg"),
			url("../images/mis2.png");
		background-position: right;
		background-attachment: fixed;
	}

	/*FOOTER --------------------------------------------------------------------------*/
	#footer-container{
		padding-top: 50px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 25px;
	}
	#contact{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 25px;
		padding-bottom: 50px;
	}
	/*PLACES --------------------------------------------------------------------------*/
	#places-container{
		background-position: left;
	}
	#places-container ul{
		padding-left: 0px;
		padding-right: 0px;
	}


	/*GALLERY --------------------------------------------------------------------------*/
	#gallery-container{
		padding-top: 75px;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 50px;
		grid-template-columns: repeat(2, 1fr); 
	}
	.box{
		height: 200px;
	}

	/*TOURIST --------------------------------------------------------------------------*/
	#tourist-container{
		padding: 125px 25px 25px 25px;
	}
	.tourist-row{
		position: static;
		padding: 0px 0px 0px 0px;
	}

	.col-image img{
		height: 250px;
		width: 100%;
	}


	.caption-right,
	.caption-left{
		position: static;
		color: #f5f5f7;
		top: 0%;
		width: 100%;
		text-shadow: 0px 0px 5px rgba(0,0,0,1);
		margin-top: 10px;
	}

	.caption-left h4,
	.caption-left p,
	.caption-right h4,
	.caption-right p{
		float: right;
		padding-bottom: 0px;
	}
}



/*tablet ================================================================================================================*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	/*INDEX --------------------------------------------------------------------------*/
	#occidental-header{
		font-size: 100px;
	}
	#kuyamis-logo{
		position: absolute;
		top: 15.5%;
		left: 22.3%;
	}

	#quote{
		text-align: center;
		padding-top: 50px;
		padding-left: 95px;
		padding-right: 95px;
	}
	#row-btn-home{
		padding-top: 75px;
	}

	#about-container{
		height: 100%;
		padding-top: 100px;
		padding-right: 50px;
		padding-left: 50px;
		padding-bottom: 200px;
		background: 
			linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.1)),
			url("../images/kuyamis.jpg"),
			url("../images/mis3.png");
		background-position: right;
		background-attachment: fixed;
	}


	/*PLACES --------------------------------------------------------------------------*/
	#places-container{
		background-position: left;
	}
	#places-container ul{
		padding-left: 0px;
		padding-right: 0px;
	}

	/*GALLERY --------------------------------------------------------------------------*/
	#gallery-container{
		padding-top: 75px;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 50px;
		grid-template-columns: repeat(4, 1fr); 
	}
	.box{
		height: 200px;
	}


	/*FOOTER --------------------------------------------------------------------------*/
	#footer-container{
		padding-top: 50px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 50px;
	}
	#contact{
		padding-left: 25px;
		padding-right: 0px;
	}

	/*TOURIST --------------------------------------------------------------------------*/
	#tourist-container{
		height: 100%;
		padding: 100px 50px 100px 50px;
	}
	.tourist-row{
		padding: 0px 0px 0px 0px;
		margin-bottom: 50px;
	}

	.col-image{
		box-shadow: 0px 0px 25px rgba(0,0,0,1);
		padding: 0;
	}
	.col-image img{
		height: 500px;
		width: 100%;
	}
	.caption-right,
	.caption-left{
		top: 10%;
		width: 75%;
		box-shadow: 0px 0px 25px rgba(0,0,0,1);
		text-shadow: 0px 0px 5px rgba(0,0,0,1);
	}
	.caption-right{
		right: 0%;
}














